<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression Smoke Test" verbose="3" >

    <suite-files>
        <suite-file path="testng_smoke_test.xml"></suite-file>
    </suite-files>
    <!--
    <suite-files>
        <suite-file path="testng_parallel_test.xml"></suite-file>
    </suite-files>
    -->
</suite>